.page-categories {
  width: 96%;
  margin-left: auto;
  margin-right: auto;

  .title {
    font-size: 3rem;
    text-align: center;
    color: #555555;

    hr {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
