div.not-found {
  width: 70%;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  img, h5 {
    max-width: 100%;
  }

  h5 {
    text-align: center;
  }

  .btn-home {
    margin-top: 40px;
    text-align: center;
  }
}
